doctype html
html
  head
    title Shellconf - #{title}
    script(src="/assets/htmx.min.js")
    script(src="/assets/app.js")
    link(href="/assets/app-gen.css", rel="stylesheet")
  body
    include _navbar.pug
    block page
    include _footer.pug
