#view-prompt.w-full.p-2
  div(class="border p-2 bg-current/70 rounded relative text-lg font-light bg-black")
    p.absolute.top-0.left-0.rounded.text-sm.font-thin.p-2.text-white #{prompt.name}
    .px-4.py-12
      each component in prompt.components
        span(style = component.style) #{component.value}
    .flex.justify-end
      button(class="bg-white/80 px-4 rounded border border-stone-200 text-black", hx-post="/prompt/set", hx-target="this", hx-swap="innerHTML", hx-vals=`js:{name:"${prompt.name}", shell: "${prompt.shell}"}` )  Set Prompt
